.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.976074;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.972168;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.976074;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.003906;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-0.672000px;}
.ls9{letter-spacing:-0.096000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.111200px;}
.ls7{letter-spacing:0.192000px;}
.ls2{letter-spacing:3.216000px;}
.ls5{letter-spacing:3.432000px;}
.ls6{letter-spacing:3.456000px;}
.ls3{letter-spacing:3.528000px;}
.ls4{letter-spacing:3.552000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.198080px;}
._0{width:1.314720px;}
._e{width:3.240000px;}
._f{width:4.248000px;}
._10{width:5.648000px;}
._9{width:6.768000px;}
._a{width:7.968000px;}
._2{width:8.976000px;}
._3{width:10.080000px;}
._d{width:15.216000px;}
._b{width:17.904000px;}
._c{width:18.970560px;}
._12{width:22.032000px;}
._13{width:23.261280px;}
._14{width:32.256000px;}
._4{width:40.224000px;}
._8{width:41.280000px;}
._6{width:45.840000px;}
._7{width:73.728000px;}
._15{width:91.728000px;}
._5{width:131.808000px;}
._11{width:600.203840px;}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(51,51,51);}
.fc2{color:rgb(17,17,17);}
.fc4{color:rgb(255,0,0);}
.fc3{color:rgb(51,122,183);}
.fs6{font-size:24.000000px;}
.fs7{font-size:44.160000px;}
.fs2{font-size:46.080000px;}
.fs3{font-size:48.000000px;}
.fs5{font-size:51.840000px;}
.fs8{font-size:54.240000px;}
.fs4{font-size:60.000000px;}
.fs1{font-size:63.840000px;}
.fs0{font-size:72.000000px;}
.y29{bottom:4.075000px;}
.y30{bottom:4.080000px;}
.y2d{bottom:4.200000px;}
.y36{bottom:27.960000px;}
.y2c{bottom:28.080000px;}
.y35{bottom:51.960000px;}
.y4f{bottom:75.500000px;}
.y34{bottom:77.640000px;}
.y70{bottom:78.024000px;}
.y2a{bottom:83.500000px;}
.y0{bottom:85.000000px;}
.y4e{bottom:85.944000px;}
.y4a{bottom:86.000000px;}
.y49{bottom:86.184000px;}
.y28{bottom:93.149000px;}
.y48{bottom:100.700000px;}
.y33{bottom:101.520000px;}
.y6f{bottom:102.020000px;}
.y47{bottom:115.340000px;}
.y32{bottom:125.550000px;}
.y6e{bottom:126.020000px;}
.y46{bottom:129.860000px;}
.y45{bottom:144.500000px;}
.y27{bottom:145.100000px;}
.y6d{bottom:150.020000px;}
.y26{bottom:168.980000px;}
.y43{bottom:174.620000px;}
.y44{bottom:178.580000px;}
.y6c{bottom:188.090000px;}
.y25{bottom:195.650000px;}
.y42{bottom:204.890000px;}
.y6b{bottom:211.970000px;}
.y24{bottom:232.850000px;}
.y41{bottom:235.130000px;}
.y6a{bottom:235.970000px;}
.y40{bottom:249.650000px;}
.y23{bottom:251.090000px;}
.y3f{bottom:264.290000px;}
.y22{bottom:269.330000px;}
.y69{bottom:274.490000px;}
.y3e{bottom:278.810000px;}
.y21{bottom:287.570000px;}
.y3d{bottom:293.450000px;}
.y20{bottom:304.970000px;}
.y3c{bottom:307.970000px;}
.y68{bottom:309.050000px;}
.y1f{bottom:319.010000px;}
.y3b{bottom:322.610000px;}
.y67{bottom:323.690000px;}
.y1e{bottom:332.930000px;}
.y3a{bottom:337.130000px;}
.y66{bottom:338.210000px;}
.y1d{bottom:346.970000px;}
.y39{bottom:351.770000px;}
.y65{bottom:352.850000px;}
.y1c{bottom:360.890000px;}
.y64{bottom:367.370000px;}
.y82{bottom:371.110000px;}
.y4d{bottom:371.710000px;}
.y38{bottom:373.510000px;}
.y1b{bottom:374.950000px;}
.y63{bottom:382.030000px;}
.y81{bottom:385.630000px;}
.y1a{bottom:388.870000px;}
.y4c{bottom:397.750000px;}
.y80{bottom:400.990000px;}
.y19{bottom:402.910000px;}
.y62{bottom:412.150000px;}
.y37{bottom:415.870000px;}
.y18{bottom:416.830000px;}
.y7f{bottom:419.710000px;}
.y61{bottom:426.790000px;}
.y17{bottom:430.870000px;}
.y71{bottom:432.000000px;}
.y31{bottom:439.150000px;}
.y7e{bottom:439.990000px;}
.y60{bottom:441.310000px;}
.y16{bottom:444.790000px;}
.y5f{bottom:455.950000px;}
.y15{bottom:458.830000px;}
.y5e{bottom:470.470000px;}
.y14{bottom:472.750000px;}
.y13{bottom:486.670000px;}
.y5d{bottom:492.310000px;}
.y12{bottom:500.710000px;}
.y7d{bottom:501.790000px;}
.y5c{bottom:514.270000px;}
.y11{bottom:514.630000px;}
.y7c{bottom:516.430000px;}
.y10{bottom:528.670000px;}
.yf{bottom:542.590000px;}
.y7b{bottom:546.430000px;}
.y5b{bottom:551.830000px;}
.ye{bottom:556.630000px;}
.y7a{bottom:560.020000px;}
.y5a{bottom:566.380000px;}
.yd{bottom:570.580000px;}
.y79{bottom:574.540000px;}
.y59{bottom:581.020000px;}
.yc{bottom:584.620000px;}
.y78{bottom:589.180000px;}
.yb{bottom:598.540000px;}
.y2f{bottom:602.620000px;}
.y57{bottom:611.140000px;}
.ya{bottom:612.580000px;}
.y58{bottom:615.100000px;}
.y77{bottom:619.300000px;}
.y9{bottom:626.500000px;}
.y56{bottom:639.820000px;}
.y8{bottom:640.540000px;}
.y2e{bottom:644.620000px;}
.y76{bottom:647.860000px;}
.y7{bottom:654.460000px;}
.y6{bottom:668.620000px;}
.y54{bottom:669.940000px;}
.y55{bottom:673.900000px;}
.y75{bottom:676.540000px;}
.y5{bottom:683.140000px;}
.y4{bottom:697.660000px;}
.y53{bottom:698.500000px;}
.y74{bottom:700.420000px;}
.y2b{bottom:710.620000px;}
.y3{bottom:712.540000px;}
.y52{bottom:713.140000px;}
.y73{bottom:724.420000px;}
.y51{bottom:727.660000px;}
.y2{bottom:731.980000px;}
.y72{bottom:748.440000px;}
.y1{bottom:751.800000px;}
.y4b{bottom:757.920000px;}
.y50{bottom:761.880000px;}
.he{height:18.351562px;}
.hc{height:26.990000px;}
.h8{height:26.995000px;}
.h4{height:35.235000px;}
.h5{height:36.703125px;}
.h7{height:39.639375px;}
.h13{height:41.474531px;}
.h11{height:43.922812px;}
.h6{height:45.878906px;}
.h3{height:48.815156px;}
.hf{height:49.898438px;}
.hb{height:50.990000px;}
.h15{height:51.000000px;}
.ha{height:51.020000px;}
.h2{height:55.054688px;}
.hd{height:148.460000px;}
.h1{height:217.500000px;}
.h14{height:338.000000px;}
.h10{height:684.000000px;}
.h9{height:686.500000px;}
.h12{height:694.500000px;}
.h0{height:841.920000px;}
.w7{width:108.490000px;}
.w2{width:165.733000px;}
.w3{width:299.570000px;}
.w6{width:356.803000px;}
.w1{width:467.000000px;}
.w5{width:472.500000px;}
.w4{width:478.500000px;}
.w0{width:595.320000px;}
.x5{left:7.193000px;}
.x7{left:52.500000px;}
.xa{left:54.000000px;}
.x0{left:64.000000px;}
.x4{left:72.024000px;}
.x8{left:81.384000px;}
.x9{left:89.424000px;}
.xd{left:91.584000px;}
.xc{left:95.784000px;}
.x2{left:119.780000px;}
.x3{left:167.540000px;}
.x6{left:230.930000px;}
.x1{left:297.650000px;}
.xe{left:422.000000px;}
.xb{left:482.740000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-0.896000pt;}
.ls9{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.148267pt;}
.ls7{letter-spacing:0.256000pt;}
.ls2{letter-spacing:4.288000pt;}
.ls5{letter-spacing:4.576000pt;}
.ls6{letter-spacing:4.608000pt;}
.ls3{letter-spacing:4.704000pt;}
.ls4{letter-spacing:4.736000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.597440pt;}
._0{width:1.752960pt;}
._e{width:4.320000pt;}
._f{width:5.664000pt;}
._10{width:7.530667pt;}
._9{width:9.024000pt;}
._a{width:10.624000pt;}
._2{width:11.968000pt;}
._3{width:13.440000pt;}
._d{width:20.288000pt;}
._b{width:23.872000pt;}
._c{width:25.294080pt;}
._12{width:29.376000pt;}
._13{width:31.015040pt;}
._14{width:43.008000pt;}
._4{width:53.632000pt;}
._8{width:55.040000pt;}
._6{width:61.120000pt;}
._7{width:98.304000pt;}
._15{width:122.304000pt;}
._5{width:175.744000pt;}
._11{width:800.271787pt;}
.fs6{font-size:32.000000pt;}
.fs7{font-size:58.880000pt;}
.fs2{font-size:61.440000pt;}
.fs3{font-size:64.000000pt;}
.fs5{font-size:69.120000pt;}
.fs8{font-size:72.320000pt;}
.fs4{font-size:80.000000pt;}
.fs1{font-size:85.120000pt;}
.fs0{font-size:96.000000pt;}
.y29{bottom:5.433333pt;}
.y30{bottom:5.440000pt;}
.y2d{bottom:5.600000pt;}
.y36{bottom:37.280000pt;}
.y2c{bottom:37.440000pt;}
.y35{bottom:69.280000pt;}
.y4f{bottom:100.666667pt;}
.y34{bottom:103.520000pt;}
.y70{bottom:104.032000pt;}
.y2a{bottom:111.333333pt;}
.y0{bottom:113.333333pt;}
.y4e{bottom:114.592000pt;}
.y4a{bottom:114.666667pt;}
.y49{bottom:114.912000pt;}
.y28{bottom:124.198667pt;}
.y48{bottom:134.266667pt;}
.y33{bottom:135.360000pt;}
.y6f{bottom:136.026667pt;}
.y47{bottom:153.786667pt;}
.y32{bottom:167.400000pt;}
.y6e{bottom:168.026667pt;}
.y46{bottom:173.146667pt;}
.y45{bottom:192.666667pt;}
.y27{bottom:193.466667pt;}
.y6d{bottom:200.026667pt;}
.y26{bottom:225.306667pt;}
.y43{bottom:232.826667pt;}
.y44{bottom:238.106667pt;}
.y6c{bottom:250.786667pt;}
.y25{bottom:260.866667pt;}
.y42{bottom:273.186667pt;}
.y6b{bottom:282.626667pt;}
.y24{bottom:310.466667pt;}
.y41{bottom:313.506667pt;}
.y6a{bottom:314.626667pt;}
.y40{bottom:332.866667pt;}
.y23{bottom:334.786667pt;}
.y3f{bottom:352.386667pt;}
.y22{bottom:359.106667pt;}
.y69{bottom:365.986667pt;}
.y3e{bottom:371.746667pt;}
.y21{bottom:383.426667pt;}
.y3d{bottom:391.266667pt;}
.y20{bottom:406.626667pt;}
.y3c{bottom:410.626667pt;}
.y68{bottom:412.066667pt;}
.y1f{bottom:425.346667pt;}
.y3b{bottom:430.146667pt;}
.y67{bottom:431.586667pt;}
.y1e{bottom:443.906667pt;}
.y3a{bottom:449.506667pt;}
.y66{bottom:450.946667pt;}
.y1d{bottom:462.626667pt;}
.y39{bottom:469.026667pt;}
.y65{bottom:470.466667pt;}
.y1c{bottom:481.186667pt;}
.y64{bottom:489.826667pt;}
.y82{bottom:494.813333pt;}
.y4d{bottom:495.613333pt;}
.y38{bottom:498.013333pt;}
.y1b{bottom:499.933333pt;}
.y63{bottom:509.373333pt;}
.y81{bottom:514.173333pt;}
.y1a{bottom:518.493333pt;}
.y4c{bottom:530.333333pt;}
.y80{bottom:534.653333pt;}
.y19{bottom:537.213333pt;}
.y62{bottom:549.533333pt;}
.y37{bottom:554.493333pt;}
.y18{bottom:555.773333pt;}
.y7f{bottom:559.613333pt;}
.y61{bottom:569.053333pt;}
.y17{bottom:574.493333pt;}
.y71{bottom:576.000000pt;}
.y31{bottom:585.533333pt;}
.y7e{bottom:586.653333pt;}
.y60{bottom:588.413333pt;}
.y16{bottom:593.053333pt;}
.y5f{bottom:607.933333pt;}
.y15{bottom:611.773333pt;}
.y5e{bottom:627.293333pt;}
.y14{bottom:630.333333pt;}
.y13{bottom:648.893333pt;}
.y5d{bottom:656.413333pt;}
.y12{bottom:667.613333pt;}
.y7d{bottom:669.053333pt;}
.y5c{bottom:685.693333pt;}
.y11{bottom:686.173333pt;}
.y7c{bottom:688.573333pt;}
.y10{bottom:704.893333pt;}
.yf{bottom:723.453333pt;}
.y7b{bottom:728.573333pt;}
.y5b{bottom:735.773333pt;}
.ye{bottom:742.173333pt;}
.y7a{bottom:746.693333pt;}
.y5a{bottom:755.173333pt;}
.yd{bottom:760.773333pt;}
.y79{bottom:766.053333pt;}
.y59{bottom:774.693333pt;}
.yc{bottom:779.493333pt;}
.y78{bottom:785.573333pt;}
.yb{bottom:798.053333pt;}
.y2f{bottom:803.493333pt;}
.y57{bottom:814.853333pt;}
.ya{bottom:816.773333pt;}
.y58{bottom:820.133333pt;}
.y77{bottom:825.733333pt;}
.y9{bottom:835.333333pt;}
.y56{bottom:853.093333pt;}
.y8{bottom:854.053333pt;}
.y2e{bottom:859.493333pt;}
.y76{bottom:863.813333pt;}
.y7{bottom:872.613333pt;}
.y6{bottom:891.493333pt;}
.y54{bottom:893.253333pt;}
.y55{bottom:898.533333pt;}
.y75{bottom:902.053333pt;}
.y5{bottom:910.853333pt;}
.y4{bottom:930.213333pt;}
.y53{bottom:931.333333pt;}
.y74{bottom:933.893333pt;}
.y2b{bottom:947.493333pt;}
.y3{bottom:950.053333pt;}
.y52{bottom:950.853333pt;}
.y73{bottom:965.893333pt;}
.y51{bottom:970.213333pt;}
.y2{bottom:975.973333pt;}
.y72{bottom:997.920000pt;}
.y1{bottom:1002.400000pt;}
.y4b{bottom:1010.560000pt;}
.y50{bottom:1015.840000pt;}
.he{height:24.468750pt;}
.hc{height:35.986667pt;}
.h8{height:35.993333pt;}
.h4{height:46.980000pt;}
.h5{height:48.937500pt;}
.h7{height:52.852500pt;}
.h13{height:55.299375pt;}
.h11{height:58.563750pt;}
.h6{height:61.171875pt;}
.h3{height:65.086875pt;}
.hf{height:66.531250pt;}
.hb{height:67.986667pt;}
.h15{height:68.000000pt;}
.ha{height:68.026667pt;}
.h2{height:73.406250pt;}
.hd{height:197.946667pt;}
.h1{height:290.000000pt;}
.h14{height:450.666667pt;}
.h10{height:912.000000pt;}
.h9{height:915.333333pt;}
.h12{height:926.000000pt;}
.h0{height:1122.560000pt;}
.w7{width:144.653333pt;}
.w2{width:220.977333pt;}
.w3{width:399.426667pt;}
.w6{width:475.737333pt;}
.w1{width:622.666667pt;}
.w5{width:630.000000pt;}
.w4{width:638.000000pt;}
.w0{width:793.760000pt;}
.x5{left:9.590667pt;}
.x7{left:70.000000pt;}
.xa{left:72.000000pt;}
.x0{left:85.333333pt;}
.x4{left:96.032000pt;}
.x8{left:108.512000pt;}
.x9{left:119.232000pt;}
.xd{left:122.112000pt;}
.xc{left:127.712000pt;}
.x2{left:159.706667pt;}
.x3{left:223.386667pt;}
.x6{left:307.906667pt;}
.x1{left:396.866667pt;}
.xe{left:562.666667pt;}
.xb{left:643.653333pt;}
}
